global
    log /dev/log local0
    maxconn 200000
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 10m
    timeout server 10m

frontend csd_stratum_3333
    bind :3333
    stick-table type ip size 200k expire 10m store conn_cur
    tcp-request connection track-sc0 src
    tcp-request connection reject if { sc0_conn_cur gt 64 }
    default_backend csd_stratum_backend

backend csd_stratum_backend
    balance source
    server local_pool 127.0.0.1:33330 check inter 5s fall 3 rise 2

frontend csd_http
    mode http
    bind :80
    option httplog
    http-request set-header X-Forwarded-Proto http
    default_backend csd_api_backend

backend csd_api_backend
    mode http
    option httpchk GET /health
    server local_api 127.0.0.1:8080 check inter 5s fall 3 rise 2
